# docker-compose for local development only
services:
  mysql:
    image: mysql:8.2-oracle
    container_name: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    networks:
      - backend
    # uncomment ports if you wish to expose to another app
    # ports:
      # - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: developmentPass
      MYSQL_DATABASE: app
  myservice:
    image: myservice:latest
    restart: always
    networks:
      - backend
    depends_on:
      - mysql
    build:
      context: .
    ports:
      - 5000:5000
    environment:
      CONNECTION_STRING: mysql://root:developmentPass@mysql:3306/app

networks:
  backend:

